:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* Sizing variables */
  font-size: 16px;
  --normal__size: 16px;
  --medium__size: clamp(12px, 3vw, 20px);

  /* Colors */
  --gray__color: #ffff;
  --blue__color: rgba(38, 232, 242, 0.958);
  --margin__principal: clamp(15px, 10vw, 50px);
  ;
  background-color: #1d1d1d;
}

.presentation {
  margin: var(--margin__principal);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.presentation__h1 {
  display: flex;
  flex-direction: column;
  gap: clamp(1px, 1vw, 10px);
}

.tittle {
  font-family: 'Dancing Script', cursive;
  font-size: clamp(1rem, 10vw, 6rem);
  margin: 5px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.blue__tittle {
  color: var(--blue__color);
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

._h2 {
  font-size: clamp(0.5rem, 5vw, 4rem);
}

.tittle_efect {
  font-family: 'Dancing Script', cursive;
  font-size: clamp(1rem, 8vw, 6rem);
  margin: 5px;
  color: white;
}

.tittle:hover {
  color: white;
  transform: scale(0.6);
}

.blue__tittle:hover {
  color: white;
  transform: scale(0.6);
}

.img__profile {
  height: clamp(100px, 50vw, 400px);
  width: clamp(100px, 50vw, 300px);
}

.img__profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

p {
  color: var(--gray__color);
  font-size: var(--medium__size);
  text-align: justify;
  line-height: clamp(1rem, 3vw, 2rem);
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: var(--medium__size);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease-in;
  max-width: 200px;
  max-height: 150px;
}

.btn:hover {
  background-color: var(--blue__color);
}

.btn:active {
  transform: scale(0.9);
}

.about__me__h1 {
  display: flex;
  flex-direction: row;
  gap: clamp(1px, 1vw, 10px);
}

.about__me__h2 {
  display: flex;
  flex-direction: row;
  gap: clamp(1px, 1vw, 10px);
  margin: var(--margin__principal);
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: var(--margin__principal);
}

.skills__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.skills__box__text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.about__box__text {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.skills_container {
  display: grid;
  max-height: 200px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skills__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  color: var(--gray__color);
  font-size: var(--medium__size);
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
}

.skills__items:hover {
  background-color: var(--blue__color);
}

.skills__items i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray__color);
  font-size: 2.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--margin__principal);
}

.contact__presentation {
  display: flex;
  flex-direction: row;

}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 500px;
  gap: 10px;
}

.contact__name {
  display: flex;
  flex-direction: column;
}

.contact__input {

  background-color: var(--gray__color);
  padding: 10px;
  border-radius: 10px;
}

.message {
  display: flex;
  text-align: justify;
  text-align: start;
  padding-bottom: 250px;
}

@media screen and (max-width: 768px) {}